@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url(../../public/fonts/IRANSans/IRANSans-web.eot);
    src: url(../../public/fonts/IRANSans/IRANSans-web.eot?#iefix) format("embedded-opentype"),
    url(../../public/fonts/IRANSans/IRANSans-web.woff2) format("woff2"),
    url(../../public/fonts/IRANSans/IRANSans-web.woff) format("woff"),
    url(../../public/fonts/IRANSans/IRANSans-web.ttf) format("truetype")
}

* {
    font-family: IRANSans, sans-serif;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.center-div {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.center-div-col {
    display: flex;
    direction: rtl;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: white;
}

.center-div-row {
    position: absolute;
    width: 97%;
    right: 2%;
    bottom: 4%;
    align-items: center;
}

.tableOdd {
    display: flex;
    width: 100%;
    background-color: whitesmoke;
}

.tableNormal {
    display: flex;
    width: 100%;
    background-color: #E5E5E5;
}

#items {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#items td,
#items th {
    text-align: right;
    padding: 18px 24px 18px 18px;
}

#items th {
    text-align: right;
    padding: 24px;
    background-color: #046;
    color: white;
}

#item td {
    margin-bottom: 100px;
}

#items tr:nth-child(even) {
    background-color: #F2F2F2;
}

#items tr:hover {
    background-color: #DDD;
}

.table-body {
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.left-stick {
    margin-left: -43px;
}

.width-sm {
    width: 5%;
    text-align: center;
}

.width-md {
    width: 15%;
    text-align: left;
}

.width-lg {
    width: 70%;
    text-align: left;
}

.textBox {
    width: 94%;
    height: 70%;
    border-radius: 5px;
    padding: 0%;
    margin: 0%;
    font-size: large;
}

.submitBtn {
    width: 5%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: #FFF;
    border-radius: 25px;
    color: #046;
    font-size: xx-large;
}

.trashBtn {
    width: 55px;
    height: 55px;
    font-size: 28px;
    color: darkred;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 18px #888888;
}

.full {
    width: 100%;
    height: 45px;
    display: block;
    border: none;
    background-color: none;
    box-shadow: 5px 10px 18px #888888;
}

.submissionForm {
    display: flex;
    direction: ltr;
    height: 45px;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
}

input {
    border: none;
    color: #888888;
    width: 100%;
    padding-right: 10px;
    font-size: larger;
    text-align: right;
}

input:focus {
    outline: none;
}

button {
    width: 45px;
    padding: -1px;
    margin: -2px;
    border: none;
    border-left: 1px solid #046;
    background: #046;
    color: white;
    font-size: xx-large;
}

.dropDown {
    background-color: red;
    direction: ltr;
    text-align: left;
}

@media only screen and (min-width: 600px) {
    html {
        display: flex;
        justify-content: center;
    }

    body {
        justify-content: center;
        justify-items: center;
        justify-self: center;
        width: 50%;
    }
}

.loaderStyle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(125, 125, 125, 0.5);
    top: 0;
    left: 0;
    z-index: 999;
}

.modalStyle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    bottom: 20%;
    padding: 15px;
    background-color: rgba(0, 68, 102, 0.9);
    color:white;
    z-index: 999;
}