@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url(../../fonts/IRANSans/IRANSans-web.eot);
    src: url(../../fonts/IRANSans/IRANSans-web.eot?#iefix) format("embedded-opentype"),
        url(../../fonts/IRANSans/IRANSans-web.woff2) format("woff2"),
        url(../../fonts/IRANSans/IRANSans-web.woff) format("woff"),
        url(../../fonts/IRANSans/IRANSans-web.ttf) format("truetype")
}

* {
    font-family: IRANSans, sans-serif;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.center-div {
    display: flex;
    align-items: start;
    text-align: center;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
    /* background-color: #CCC; */
    background-color: gray;
}

.center-div-col {
    display: flex;
    direction: rtl;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.center-div-row {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.center-div-row-full {
    background-color: #444;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.tableOdd {
    display: flex;
    width: 100%;
    background-color: whitesmoke;
}

.tableNormal {
    display: flex;
    width: 100%;
    background-color: #E5E5E5;
}

.tableStyle {
    display: flex;
    width: 100%;
    background-color: #f0f0f0;
    border-top: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
}

#items {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#items td,
#items th {
    text-align: right;
    padding: 18px 24px 18px 18px;
}

#items th {
    text-align: right;
    padding: 24px;
    background-color: #777;
    color: white;
}

#item td {
    margin-bottom: 100px;
}

#items tr:nth-child(even) {
    background-color: #F2F2F2;
}

#items tr:hover {
    background-color: #DDD;
}

.table-body {
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.left-stick {
    margin-left: -43px;
}

.width-sm {
    width: 5%;
    text-align: center;
}

.width-md {
    width: 15%;
    text-align: left;
}

.width-lg {
    width: 70%;
    text-align: left;
}

.textBox {
    width: 94%;
    height: 70%;
    border-radius: 5px;
    padding: 0%;
    margin: 0%;
    font-size: large;
}

.submitBtn {
    width: 5%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: #FFF;
    border-radius: 25px;
    color: #777;
    font-size: xx-large;
}

.trashBtn {
    width: 55px;
    height: 55px;
    font-size: 28px;
    color: darkred;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 18px #888888;
}

.full {
    width: 100%;
    height: 45px;
    display: block;
    border: none;
    background-color: none;
    box-shadow: 5px 10px 18px #888888;
}

.submissionForm {
    display: flex;
    direction: ltr;
    /*background-color: #888888;*/
    width: 100%;
    height: 45px;
    margin-top: 14px;
    /*padding: 2px;*/
    /*border: #888888;*/
    /* border-radius: 10px; */
    /*box-shadow: 5px 10px 18px #888888;*/
}

.transition-wrapper {
    transition: all 0.3s ease;
    opacity: 0;
    transform: scale(0.25);
    height: 0;
    overflow: hidden;
    margin-top: 0px;
}

.transition-wrapper.show {
    opacity: 1;
    transform: scale(1);
    height: auto;
    margin-top: 40px;
}

.backBtn {
    transition: opacity 0.3s ease;
    opacity: 1;
    width: 50px;
    aspect-ratio: 1 / 1;
    height: auto;
    background-color: transparent;
    color: white;
    text-align: center;
    text-justify: auto;
    border-radius: 100%;
    font-size: 56px;
    margin-top: -10px;
    /* bottom: 0px;
    left: 20px;
    position: absolute; */
}

.plusBtn {
    transition: opacity 0.3s ease;
    opacity: 1;
    width: 50px;
    aspect-ratio: 1 / 1;
    height: auto;
    background-color: transparent;
    color: white;
    text-align: center;
    text-justify: auto;
    border-radius: 100%;
    font-size: 56px;
    margin-top: -10px;
    /* bottom: 0px;
    left: 20px;
    position: absolute; */
}

.plusBtn.fade-in {
    animation: fadeInScale 0.3s ease;
}

.categoryPlusBtn {
    transition: opacity 0.3s ease;
    opacity: 1;
    width: 50px;
    aspect-ratio: 1 / 1;
    height: auto;
    background-color: transparent;
    color: gray;
    text-align: center;
    text-justify: auto;
    border-radius: 100%;
    font-size: 56px;
    margin-top: -10px;
    /* bottom: 0px;
    left: 20px;
    position: absolute; */
}

.categoryPlusBtn.fade-in {
    animation: fadeInScale 0.3s ease;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

input {
    /*border: solid 0.5 #046;*/
    color: #777;
    background-color: gray;
    width: 100%;
    border: none;
    border-radius: 0px;
    padding-right: 10px;
    font-size: larger;
    text-align: right;
}

input:focus {
    outline: none;
}

button {
    width: 45px;
    border: none;
    border-radius: 10%;
    /*border-left: 1px solid whitesmoke;*/
    background: #777;
    color: white;
    font-size: xx-large;
}

.dropDown {
    background-color: red;
    direction: ltr;
    text-align: left;
}

@media only screen and (min-width: 600px) {
    html {
        display: flex;
        justify-content: center;
        background-color: whitesmoke;
    }

    body {
        justify-content: center;
        justify-items: center;
        justify-self: center;
        width: 50%;
    }
}

.loaderStyle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(125, 125, 125, 0.5);
    top: 0;
    left: 0;
    z-index: 999;
}

.modalStyle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10%;
    width: 80%;
    border-radius: 10px;
    bottom: 20%;
    padding: 15px;
    background-color: rgba(100, 100, 100, 0.9);
    color: white;
    z-index: 999;
}

.categoryModalStyle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0%;
    width: 100%;
    height: 20%;
    border-radius: 0px;
    bottom: 0;
    padding: 15px;
    background-color: rgba(100, 100, 100, 0.9);
    color: white;
    z-index: 999;
}

.addCategoryButton {
    /* border-radius: 0 4px 4px 0; */
    border-style: solid;
    border-width: 0.5px;
    border-color: white;
    padding: 1px;
    min-width: 75px;
    width: 25%
}

.addCategoryInput {
    /* border-radius: 4px 0 0 4px; */
    /* border-style: solid; */
    /* border-color: transparent; */
    background-color: white;
    padding: 1px;
    /* width: 75%; */
}

.addItemButton {
    border-radius: 0 4px 4px 0;
    border-style: solid;
    border-color: white;
    /* padding: 2px; */
    /* max-width: 50px; */
    height: 45px;
    width: 50px;
    /* width: 15% */
}

.addItemInput {
    border-radius: 4px 0 0 4px;
    border: none;
    background-color: white;
    padding: 2px;
    height: 45px;
    /* width: 85%; */
}

.listInput {
    border-radius: 4px 0 0 4px;
    border: none;
    background-color: white;
    padding: 2px;
    height: 45px;
    width: 85%;
}

.listButton {
    border-radius: 0 4px 4px 0;
    border-style: solid;
    border-color: white;
    padding: 2px;
    max-width: 50px;
    height: 45px;
    width: 15%
}

.dropdown-toggle-custom::after {
    display: none !important;
}

/* Solid border */
hr.solid {
    border-top: 3px solid #bbb;
    margin: 14px;
}